<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Expression_1@2x.png</string>
	<string>Expression_2@2x.png</string>
	<string>Expression_3@2x.png</string>
	<string>Expression_4@2x.png</string>
	<string>Expression_5@2x.png</string>
	<string>Expression_6@2x.png</string>
	<string>Expression_7@2x.png</string>
	<string>Expression_8@2x.png</string>
	<string>Expression_9@2x.png</string>
	<string>Expression_10@2x.png</string>
	<string>Expression_11@2x.png</string>
	<string>Expression_12@2x.png</string>
	<string>Expression_13@2x.png</string>
	<string>Expression_14@2x.png</string>
	<string>Expression_15@2x.png</string>
	<string>Expression_16@2x.png</string>
	<string>Expression_17@2x.png</string>
	<string>DeleteEmoticonBtn_ios7@2x.png</string>
	<string>Expression_18@2x.png</string>
	<string>Expression_19@2x.png</string>
	<string>Expression_20@2x.png</string>
	<string>Expression_21@2x.png</string>
	<string>Expression_22@2x.png</string>
	<string>Expression_23@2x.png</string>
	<string>Expression_24@2x.png</string>
	<string>Expression_25@2x.png</string>
	<string>Expression_26@2x.png</string>
	<string>Expression_27@2x.png</string>
	<string>Expression_28@2x.png</string>
	<string>Expression_29@2x.png</string>
	<string>Expression_30@2x.png</string>
	<string>Expression_31@2x.png</string>
	<string>Expression_32@2x.png</string>
	<string>Expression_33@2x.png</string>
	<string>Expression_34@2x.png</string>
	<string>Expression_35@2x.png</string>
	<string>Expression_36@2x.png</string>
	<string>Expression_37@2x.png</string>
	<string>Expression_38@2x.png</string>
	<string>Expression_39@2x.png</string>
	<string>Expression_40@2x.png</string>
	<string>Expression_41@2x.png</string>
	<string>Expression_42@2x.png</string>
	<string>Expression_43@2x.png</string>
	<string>Expression_44@2x.png</string>
	<string>Expression_45@2x.png</string>
	<string>Expression_46@2x.png</string>
	<string>Expression_47@2x.png</string>
	<string>Expression_48@2x.png</string>
	<string>Expression_49@2x.png</string>
	<string>Expression_50@2x.png</string>
	<string>Expression_51@2x.png</string>
	<string>Expression_52@2x.png</string>
	<string>Expression_53@2x.png</string>
	<string>Expression_54@2x.png</string>
	<string>Expression_55@2x.png</string>
	<string>Expression_56@2x.png</string>
	<string>Expression_57@2x.png</string>
	<string>Expression_58@2x.png</string>
	<string>Expression_59@2x.png</string>
	<string>Expression_60@2x.png</string>
</array>
</plist>
